@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
   --cor0:#c5ebd6;
   --cor1:#83e1ad;
   --cor2:#3ddc84;
   --cor3:#2fa866;
   --cor4:#1a5c37;
   --cor5:#063d1e;

    --font-padrão:arial,helvetica,sans-serif;
    --font-destaque:'Bebas Neue', cursiva,sans-serif;
    --font-android:'android', cursiva,sans-serif;
}
*{
   margin: 0px; 
}
body{
    background-color: var(--cor0);
}
header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    text-align: center;
    font-family: var(--font-padrão);
    padding: 10px;
}
header h1{
    color: white;
    font-family: 'Bebas Neue', cursiva;
    font-weight: normal;
    font-size: 3em;
    padding: 30px 30px 10px 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
}
header p{
    color: white;   
    font-size: 1.2em;
    padding: 10px;
    margin-bottom:5px ;
    max-width: 490px;
    margin: auto;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);

}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.425);
}
nav a{
    color: var(--cor1);
    font-family: var(--font-padrão);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
nav a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
    transition: .5s;

}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    font-family: var(--font-padrão);
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 0px 0px 10px 10px;
    line-height: 2em;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.425);
}
main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 10px;
}
main h2{
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right,var(--cor1),transparent );
    text-indent: 8px;
    margin: 10px 0px;
}
main p{
    font-family: var(--font-padrão);
    text-align: justify;
    text-indent: 20px;
    padding: 5px;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bolder;
    padding: 2px 8px 2px 2px;
}
main a:hover{
    text-decoration: underline;
}
a.externa::after{
    content: '\00A0\1F517';  
}
main img{
    width: 100%;
    display: block;
    margin: auto;
    content: '\1F517\00A0';
}
main div{
    background-color: var(--cor5);
    padding-bottom: 59%;
    position: relative;
    margin: 10px -20px 30px -20px;
}
div iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
img.pequena{
    max-width: 350px;
}
aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 15px;
    margin-bottom:20px ;
}
aside h3{
    background-color: var(--cor4);
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.3em;
    font-weight: bold;
    margin: -15px -15px 10px -15px; 
    padding: 10px;
    border-radius: 10px 10px 0px 0px;

}
aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
ul abbr{
    text-decoration: none;
}
abbr:hover{
    text-decoration: underline;
}
aside p{
    text-align: justify;
}
footer{
    background-color: var(--cor5);
    text-align: center;
    padding: 3px;
}
footer P{
    color: var(--cor0);
}
footer a{
    color: white;
    text-decoration: none;
}